<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cross Site Request Forgery (CSRF)</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header class="header1">
        <h1 class="naslov1">Cross Site Request Forgery (CSRF)</h1>

        <nav class="nav-container">
            <div class="nav-links">
                <a href="/xss" class="nav-item" id="xss">Cross-site scripting (XSS)</a>
                <a href="/" class="nav-item" id="home">Home</a>
                <a href="/csrf" class="nav-item" id="csrf">Cross Site Request Forgery (CSRF)</a>
            </div>
        </nav>
    </header>

</body>
</html>