<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cross-site scripting (XSS)</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>

    <header class="header1">
        <h1 class="naslov1">Cross-site scripting (XSS)</h1>

        <nav class="nav-container">
            <div class="nav-links">
                <a href="/xss" class="nav-item" id="xss">Cross-site scripting (XSS)</a>
                <a href="/" class="nav-item" id="home">Home</a>
                <a href="/user" class="nav-item" id="csrf">User</a>
            </div>
        </nav>
    </header>

    <nav class="login-register">
        <div class="loginRegister">
            <a href="/login" class="login" id="login">Login</a>
            <a href="/register" class="register" id="register">Register</a>
        </div>
    </nav>

    <d1>
        <h3>Upute</h3>
        <p> Ovo je tipičan primjer reflektiranog XSS-a. Prikazana je testna stranica koja omogućuje upisivanje komentara.
            Osoba lako može ubaciti JavaScript kod u kućicu.
            Sa checkboxom se ranjivost uključuje/isključuje.</p>

        <p>Probajte upisati <b>alert('Hello World!'); u script tag-u</b> kao testni primjer.
           Ako to prolazi trebalo bi proći i <b>alert(document.cookie);</b> čime ćete uspješno ukrasti cookie.
        </p>
    </d1>

    <form method="post">
        <label for="option1">Ranjivost uključena</label>
        <input type="checkbox" id="option1" name="options">

        <br>

        <label for="option3">Comment</label>
        <input type="text" id="option3" name="comment">

        <br>

        <button type="submit">Submit</button>
    </form>


        <div>
            <% if (options=="on") { %>
            <p>Comment: <%- comment %></p>
            <% } else { %>
            <p>Comment: <%= comment %></p>
            <% } %>
        </div>

        
    

</body>
</html>